# Model
resnet50v2_final/
resnet50v2_final.h5
resnet50v2_final.onnx
yolo11s-pose.pt

# Virtual environment
venv/

# Uploads
uploads/

tailwindcss


node_modules/
package.json
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db